@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    margin: 2rem 0;
}

.layers {
    width: 3rem; 
    height: 3rem; 
    margin: auto;
    perspective: 1000px;
    position: relative;
    transform: scale(1) rotateY(-30deg) rotateX(45deg) translateZ(1.125rem); 
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25); 
    transition: 0.6s ease transform;
    background: #fbe806;
}

.layers:hover {
    transform: scale(1);
}

.layers::before,
.layers::after {
    content: " ";
    display: block;
    position: absolute;
    top: -0.11rem; 
    left: -0.11em; 
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
}

.layers::before {
    transform: translateZ(0.75rem); 
    border: 0.125rem solid #f96b59; 
}

.layers:hover::before {
    transform: translateZ(0);
}

.layers::after {
    transform: translateZ(-0.75rem); 
    background: #f96b59;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25); 
}

.layers:hover::after {
    transform: translateZ(-0.03125rem); 
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    flex-direction: column;
    overflow-x: hidden;
}


.container {
    text-align: center;
    position: relative;
    margin-top: 300px;
    transform: skewY(-20deg);

}

.container h2 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

.container .pd-skew {
    color: #fff;
    transform-origin: top;
    transform: skew(45deg);
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;

}

.container a {
    color: white;
    border: 1px solid white;
    padding: 10px;
    transform-origin: top;
    background: transparent;
    display: inline-block;
    transition: 0.5s;


}

.container a:hover {
    text-decoration: none;
    transition: 0.5s;
    color: black;
    background: white;

}

.container .pd-img-box {
    position: relative;
    transform-origin: bottom;
    transform: skewX(2.8125rem); 
    width: 100%;
    height: 11.25rem; 
}

.container .pd-img-box img {
    position: absolute;
    bottom: 0;
    left: 0.9375rem; 
    max-width: 100%;
    transition: 0.5s;
}

.container .pd-img-box:hover img:nth-child(3) {
    transform: translate(6.25rem, -6.25rem); 
}

.container .pd-img-box:hover img:nth-child(2) {
    transform: translate(3.125rem, -3.125rem); 
    opacity: 0.5;
}

.container .pd-img-box:hover img:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.1;
}

